.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background-color: #f6f8ff;
}

/* Shared Styles */
.container {
  width: 1140px;
  margin: 30px auto;
}
.display-flex {
  display: flex;
}
.active {
  font-weight: 700;
}
.dark-1 {
  color: #252432;
}
.dark-2 {
  color: #8987a1;
}
.orange {
  color: #e95a08;
}
.orange-bg {
  background-color: #e95a08;
}
.head-text {
  font-family: "Noto Serif";
}
/* Nav Styles */

.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-links {
}

.nav-item {
  list-style: none;
  margin-right: 50px;
}
.cart {
  margin: 0;
}
.nav-link {
  text-decoration: none;
  font-size: 1.25em;
}

/* Banner Styles */
.banner-section {
  justify-content: space-between;
  align-items: flex-end;
  height: 460px;
  margin-top: 90px;
}
.banner-texts {
  width: 50%;
}
.banner-title {
  font-size: 4em;
  margin: 0;
}
.banner-description,
.plant-description {
  font-size: 1.25rem;
}
.banner-image {
  width: 50%;
}
.banner-image img {
  width: 100%;
}

/* Plant section Styles */
.plant-section {
  margin-top: 120px;
}
.plant-texts {
  text-align: center;
}
.plant-title {
  font-size: 3rem;
  margin-bottom: 15px;
}
.plant-description {
  width: 70%;
  margin: 0 auto;
}

/* plant card styles */
.plant-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.plant-card {
  width: 270px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.05);
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.05);
}
.plant-image {
  width: 100%;
}
.plant-name {
  font-size: 1.25rem;
  font-weight: 600;
}
.plant-button {
  width: 100%;
  padding: 10px 0;
  border: none;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

/* Responsive Media Queries */

@media screen and (max-width: 576px) {
  /* header responsive styles */
  .navbar .menu {
    display: none;
  }
  .cart {
    margin-top: 25px;
    margin-right: 15px;
    font-size: 1.25rem;
  }
  .banner-section {
    flex-direction: column-reverse;
    margin-top: 250px;
  }
  .container {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .banner-texts {
    margin-top: 25px;
    width: 100%;
  }
  .banner-title {
    font-size: 2rem;
    margin: 0;
  }
  .banner-image {
    width: 100%;
    margin-right: 15px;
  }

  /* Main responsive styles */
  .plant-section {
    margin: 0;
  }
  .plant-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .plant-card {
    width: 100%;
  }
}
